@font-face {
  font-family: Roboto-Thin;
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: Martel-Light;
  src: url('../fonts/Martel/Martel-Light.ttf');
}

@font-face {
  font-family: Martel-Bolder;
  src: url('../fonts/Martel/Martel-ExtraBold.ttf');
}

@font-face {
  font-family: Rubik-Regular;
  src: url('../fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
  font-family: Rubik-Light;
  src: url('../fonts/Rubik/Rubik-Light.ttf');
}

@font-face {
  font-family: Rubik-Bold;
  src: url('../fonts/Rubik/Rubik-Bold.ttf');
}